{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Volunteer</title>
{% endblock meta %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/volunteer-form.css">
{% endblock styles %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="success">

    </div>

    <h1 class="header p-5">PENDAFTARAN VOLUNTEER</h1>
    <header>
        <img src="{% static 'images/Volunteer.png' %}" height="200px" style="margin: 6%"/>
    </header>
    <main class="container">
        <form id="form" onsubmit="return false;">
            {% csrf_token %}
            <section class="mb-3 row">
                <label class="form-label col-md-3" for="project">
                    Daftar Project
                </label>
                {{ form.project }}
            </section>
            <section class="mb-3 row">
                <label class="form-label col-md-3" for="divisi">
                    Bidang Project
                </label>
                {{ form.divisi }}
            </section>
            <section class="mb-3 row">
                <label class="form-label col-md-3" for="durasi">
                    Durasi Project
                </label>
                <input type="number" name="durasi" id="durasi" class="form-control col" value="0" readonly>
            </section>
        </form>
        <section class="mb-3 d-flex flex-row justify-content-center align-items-center gap-4">
            <button id="button-submit" type="submit" class="submit_btn">Submit</button>
            <form method="post" action="{% url 'pedulee:home' %}">
                {% csrf_token %}
                <button type="submit" href="home" class="discard_btn">Discard</button>
            </form>
        </section>
    </main>
    {% include 'footer.html' %}
{% endblock content %}

{% block scripts %}
<script>
    /** @type {Array} */
    const projects = JSON.parse(`{{ projects | safe }}`)
</script>
<script src="/static/js/volunteer-form.js"></script>
{% endblock scripts %}
