{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Projects</title>
{% endblock meta %}

{% block styles %}
<link rel="stylesheet" href="/static/css/volunteer-history.css">
{% endblock styles %}

{% block content %}
{% include 'navbar.html' %}

  <table style="text-align: center" class="table table-striped">
    <thead>
      <tr style="background-color: transparent">
        <th>Project Name</th>
        <th>Division</th>
        <th>Duration</th>
        <th>Cancel</th>
      </tr>
    </thead>

    <tbody id="data">
    </tbody>
    <tfoot>
        <template>
        <tr>
            <td>${item.fields.cloth_model}</td>
            <td>${item.fields.material}</td>
            <td>${item.fields.type}</td>
            <td>
                <button class="delete-button"
                    onmouseover="this.style.backgroundColor='#E14D2A';"
                    onmouseout="this.style.backgroundColor='#F96666';"
                    onclick="cancelVolunteer(0)">X</button>
            </td>
        </tr>
        </template>
    </tfoot>
  </table>
  {% include 'footer.html' %}
{% endblock content %}

{% block scripts %}
<script src="/static/js/volunteer-history.js"></script>
{% endblock scripts %}