{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Donasi Uang</title>
    <link rel="stylesheet" href="{% static 'css/money-form.css' %}">
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <br><br>
    <h1 class="header">MONEY DONATION</h1>
    <div class="container-form">
        <form method="POST">
            {% csrf_token %}
            <table class="center">
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="name">Name</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="name" name="name" placeholder="Cicak Bin Kadal" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="email">Email Address</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="email" name="email" placeholder="example@example.com" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="pnumber">Phone Number</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="pnumber" name="pnumber" placeholder="+6281212341234" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="donation">Donation Amount</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" step="1" id="donation" name="donation" placeholder="Rp." style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="message">Donor Message</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <textarea id="message" name="message" placeholder="To make the world a better place!" style="height:200px; width:300px"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="pmethod">Payment Method</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <select id="pmethod" name="pmethod">
                                <option selected="selected">Select...</option>
                                <option value="mandiri">Mandiri</option>
                                <option value="bni">BNI</option>
                                <option value="bri">BRI</option>
                                <option value="bca">BCA</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="ccnumber"></label>Credit Card<label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="ccnumber" name="ccnumber" placeholder="Card Number" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button id="button-submit" type="submit" class="submit_btn">Submit</button>
                    </th>
                </tr>
            </table>
        </form>
    </div>
    <br></br>
    {% include 'footer.html' %}
{% endblock content %}