{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Donasi Uang</title>
{% endblock meta %}

{% block styles %}
    <style>
        body {
            font-family: 'Montserrat';
            text-align: center;
            background-image: url("{% static 'images/background.png' %}");  
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .nav-link {
            font-weight: bold;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
        }
        .navbar {
            background: #FDF3EA;
            height: auto;
            position: sticky;
            padding: 1% 1%;
        }
        .container-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        td {
            text-align: left;
        }
    </style>
{% endblock styles %} 

{% block content %}
{% include 'navbar.html' %}
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="nav-link" href="/home">HOME</a>
            <a class="nav-link" href="/projects">PROJECTS</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">DONATE</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">CLOTHES</a>
                    <a href="#" class="dropdown-item">MONEY</a>
                    <a href="#" class="dropdown-item">GROCERIES</a>
                    <a href="#" class="dropdown-item">BLOOD DONORS</a>
                </div>
            </div>

                <img src="../../static/images/logo.png" style="width: 20%;" alt="">
            </a>
            

            <a class="nav-link" href="/volunteer">VOLUNTEER</a>
            <a class="nav-link" href="/about-us">ABOUT US</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PROFILE</a>
                <div class="dropdown-menu">
                    <a href="/my-profile" class="dropdown-item">{{ username }}</a>
                    <a href="/history" class="dropdown-item">History</a>
                    <form method="post" action="">
                        {% csrf_token %}
                        <a href="{% url 'pedulee:logout' %}" class="dropdown-item">LOGOUT</a>
                    </form>
                </div>
            </div>
            
        </div>
    </nav>
    <div class="container-form">
        <form action="action_page.php">
            <table>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: gray;">Donor's Data</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="name">Name</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="name" name="name" placeholder="Cicak Bin Kadal" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="email">Email Address</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="email" name="email" placeholder="example@example.com" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="pnumber">Phone Number</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="pnumber" name="pnumber" placeholder="+6281212341234" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="donation">Donation Amount</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" step="1" id="donation" name="donation" placeholder="Rp." style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="message">Donor Message</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <textarea id="message" name="message" placeholder="To make the world a better place!" style="height:200px; width:300px"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="pmethod">Payment Method</label><label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            {{ form.pmethod }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <form action="">
                            <input type="checkbox" id="hidename" name="hidename" value="Hide">
                            <label for="hidename">Anonymize me</label>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: gray;">Donation Details</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-label">
                            <label for="ccnumber"></label>Credit Card<label>*</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-input">
                            <input type="text" id="ccnumber" name="ccnumber" placeholder="Card Number" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% include 'footer.html' %}
{% endblock content %}