body {
    font-family: 'Montserrat';
    text-align: center;
    background-image: url('{% static "/images/background.png" %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-navbar {
    background: #FDF3EA;
}