{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Clothes Donation</title>
    <link rel="stylesheet" href="{% static 'css/clothes-form.css' %}">
{% endblock meta %}
  
{% block content %}
    {% include 'navbar.html' %}
    <div id="success">
        
    </div>
    
    <div class="text-center" style="background-color: rgba(229, 224, 255, 0.498); padding-top: 0;">
        <p style="padding: 4px;" id="welcome">
            {{ visit }}, {{ username }}!
        </p>
    </div>

      <h1 class="header">CLOTHES DONATION</h1>

      <div class="row" style="--bs-gutter-x: 0;">
        <div class="col">
            <img src='{% static "/images/DonasiPakaian.png" %}' width="80%" style="margin: 6%"/>
        </div>
        
        <div class="col position-custom">
            <table class="center">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <p class="label">Model</p>
                            {{ form.cloth_model }}
                        </td>
                    </tr>
                    <tr>
                        <td>     
                            <p class="label">Material</p>
                            {{ form.material }}
                        </td>
                    </tr>
                    <tr>
                        <td>  
                            <p class="label">Type</p>
                            {{ form.type }}               
                        </td>
                    </tr>
                </form>
                    <tr>
                        <td>
                            <button id="button-submit" type="submit" class="submit_btn">Submit</button>
                        </td>
                        <td>
                            <form method="post" action="{% url 'pedulee:home' %}">
                                {% csrf_token %}
                                <button type="submit" href="home" class="discard_btn">Discard</button>
                            </form>
                        </td>
                    </tr>
            </table>
          </div>
      </div>
      <br><br>
      {% include 'footer.html' %}
      <script type="text/javascript" src="{% static 'js/clothes-form.js' %}"></script>
{% endblock content %}
