{% extends 'base.html' %} 

{% load static %} 

{% block meta %}
    <title>Clothes Donation History</title>
    <link rel="stylesheet" href="{% static 'css/clothes-history.css' %}">
{% endblock meta %} 

{% block content %} 
{% include '_components\navbar.html' %}
  <div id="success">

  </div>
  <h1 class="header">CLOTHES DONATION HISTORY</h1>
  <table style="text-align: center" class="table table-striped">
    <thead>
      <tr style="background-color: transparent">
        {% if user.is_staff %}
        <th>User</th>
        {% endif %}
        <th>Model</th>
        <th>Material</th>
        <th>Type</th>
        <th>Date</th>
        <th>Cancel</th>
      </tr>
    </thead>

    <tbody id="data">
    </tbody>
  </table>
  <br><br> <br><br> <br><br>
  {% include '_components\footer.html' %}
  {% if user.is_staff %}
    <script type="text/javascript" src="{% static 'js/clothes-history-admin.js' %}"></script>
  {% else %}
    <script type="text/javascript" src="{% static 'js/clothes-history-admin.js' %}"></script>
  {% endif %}
{% endblock content %}
