<!--MASIH MAU DI EDIT-->

{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Projects</title>
{% endblock meta %}

{% block content %}
    {% include '_components\navbar.html' %}
    <main class="container py-3">
        <section class="d-flex align-items-center justify-content-between">
            <h1>On-going project</h1>
            {% comment %} <button class="btn btn-primary btn-sm rounded">
                + New Project
            </button> {% endcomment %}
        </section>
        <section class="row gap">
            {% for project in projects  %}
            <div class="col-sm-6 col-md-4 p-1 p-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/background.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="#" class="btn btn-primary text-center">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    {% include '_components\footer.html' %}
{% endblock content %}