{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Projects</title>
{% endblock meta %}

{% block styles %}
    <style>
        body {
            font-family: 'Montserrat';
            text-align: center;
            background-image: url("{% static 'images/background.png' %}");
        }
        .nav-link {
            font-weight: bold;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
        }
        .card {
            will-change: transform;
            transition: transform 450ms;
            height: 100%;
        }
        .card:hover {
            transition: transform 150ms;
            transform: translateY(-10px);
            shadow: 5px 5px;
        }
        .navbar {
            background: #FDF3EA;
            height: auto;
            position: sticky;
            padding: 1% 1%;
        }
    </style>

{% endblock styles %}


{% block content %}
    {% include '_components/navbar.html' %}
    <main class="container py-3">
        <section class="d-flex align-items-center justify-content-between">
            <h1>Home</h1>
        </section>
    </main>
{% endblock content %}