{% extends 'base.html' %} 

{% load static %} 

{% block meta %}
    <title>Projects</title>
{% endblock meta %} 

{% block styles %}
<style>
  table {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  th {
    font-weight: 900px;
    font-size: 17px;
  }
  .header{
            font-weight: 900;
            font-size: 25px;
            text-transform: uppercase;
            margin-top: 2%;
        }
</style>
{% endblock styles %} 

{% block content %} 
{% include 'navbar.html' %}
  <div id="success">

  </div>
  <h1 class="header">CLOTHES DONATION HISTORY</h1>
  <table style="text-align: center" class="table table-striped">
    <thead>
      <tr style="background-color: transparent">
        {% if user.is_staff %}
        <th>User</th>
        {% endif %}
        <th>Model</th>
        <th>Material</th>
        <th>Type</th>
        <th>Date</th>
        <th>Cancel</th>
      </tr>
    </thead>

    <tbody id="data">
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
<script>
    async function getClothes() {
      return fetch("{% url 'pedulee:show_json_cloth' %}").then((res) => res.json())
    }

    async function refreshClothes() {
          document.getElementById("data").innerHTML = ""
          const clothes = await getClothes()
          var user = '{{ status }}'
          let htmlString = ''
          clothes.forEach((item) => {
            htmlString += `\n<tr>`
            if (user === 'staff') {
              htmlString += `<td> ${item.fields.username}`
            }
            htmlString += `<td> ${item.fields.cloth_model} 
                            </td><td> ${item.fields.material} 
                            </td><td> ${item.fields.type}
                            </td><td> ${item.fields.date} 
                            </td><td>  <button id="delete-button" style="font-weight:bold;
                                                                          background-color:#F96666;
                                                                          border: none;
                                                                          text-decoration: none;
                                                                          display: inline-block;"
                                                                          onmouseover="this.style.backgroundColor='#E14D2A';"
                                                                          onmouseout="this.style.backgroundColor='#F96666';"
                                                                          onclick="cancelCloth(${item.pk})"
                                                                          >X</button>
                            </td></tr>`
          })
          document.getElementById("data").innerHTML = htmlString
    }
    
    async function successAfterCancel() {
        refreshClothes()
        document.getElementById("success").innerHTML = ""
        htmlString = `\n<div class="alert alert-primary" role="alert">\n
                        You have canceled a donation\n
                        </div>`
        document.getElementById("success").innerHTML = htmlString
        setInterval(exitSuccess, 2500)
    }

    async function exitSuccess() {
        document.getElementById("success").innerHTML = ""
        htmlString = ``
        document.getElementById("success").innerHTML = htmlString
    }

    async function cancelCloth(id) {
            $.ajax({
                url: `delete-cloth/${id}`,
                type: "DELETE",
                success: function() {
                  $(`#${id}`).remove();
                }
            }).then(successAfterCancel)
        }

    refreshClothes()
</script>
{% endblock scripts %}