{% extends 'base.html' %} 

{% load static %} 

{% block meta %}
    <title>Projects</title>
{% endblock meta %} 

{% block styles %}
<style>
  body {
    font-family: "Montserrat";
    text-align: center;
    background-image: url("../../static/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  table {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  th {
    font-weight: 900px;
    font-size: 17px;
  }
  .delete-button {
    font-weight:bold;
    background-color:#F96666;
    border: none;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
  }
</style>
{% endblock styles %} 

{% block content %} 
{% include 'navbar.html' %}

  <table style="text-align: center" class="table table-striped">
    <thead>
      <tr style="background-color: transparent">
        <th>Model</th>
        <th>Material</th>
        <th>Type</th>
        <th>Date</th>
        <th>Cancel</th>
      </tr>
    </thead>

    <tbody id="data">
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
<script>
    async function getClothes() {
      return fetch("{% url 'pedulee:show_json_cloth' %}").then((res) => res.json())
    }

    async function refreshClothes() {
          document.getElementById("data").innerHTML = ""
          const clothes = await getClothes()
          let htmlString = ''
          clothes.forEach((item) => {
            htmlString += `\n<tr><td> ${item.fields.cloth_model} 
                            </td><td> ${item.fields.material} 
                            </td><td> ${item.fields.type}
                            </td><td> ${item.fields.date} 
                            </td><td>  <button id="delete-button"> X
                                            </button>
                            </td></tr>`
          })
          document.getElementById("data").innerHTML = htmlString
    }
    
    refreshClothes()
</script>
{% endblock scripts %}