{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Clothes Donation</title>
    <link rel="stylesheet" href="{% static 'css/donasi-pakaian.css' %}">
{% endblock meta %}
  
{% block content %}
    {% include 'navbar.html' %}
    <div id="welcome">

    </div>
    <div id="success">
        
    </div> 

      <h1 class="header">CLOTHES DONATION</h1>

      <div class="row">
        <div class="col">
            <img src='{% static "/images/DonasiPakaian.png" %}' width="80%" style="margin: 6%"/>
        </div>
        
        <div class="col position-custom">
            <table class="center">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <p class="label">Model</p>
                            {{ form.cloth_model }}
                        </td>
                    </tr>
                    <tr>
                        <td>     
                            <p class="label">Material</p>
                            {{ form.material }}
                        </td>
                    </tr>
                    <tr>
                        <td>  
                            <p class="label">Type</p>
                            {{ form.type }}               
                        </td>
                    </tr>
                </form>
                    <tr>
                        <td>
                            <button id="button-submit" type="submit" class="submit_btn">Submit</button>
                        </td>
                        <td>
                            <form method="post" action="{% url 'pedulee:home' %}">
                                {% csrf_token %}
                                <button type="submit" href="home" class="discard_btn">Discard</button>
                            </form>
                        </td>
                    </tr>
            </table>
          </div>
      </div>
      
{% endblock content %}

{% block scripts %}
<script>
    async function welcome() {
        document.getElementById("welcome").innerHTML = ""
        htmlString = `\n<div class="alert alert-primary" role="alert">\n
                        \n{{ visit }}, {{ name }}!
                        </div>`
        document.getElementById("welcome").innerHTML = htmlString
        setInterval(exitWelcome, 3500)
    }

    async function exitWelcome() {
        document.getElementById("welcome").innerHTML = ""
        htmlString = ``
        document.getElementById("welcome").innerHTML = htmlString
    }

    async function successAfterSubmit() {
        document.getElementById("success").innerHTML = ""
        htmlString = `\n<div class="alert alert-success" role="alert">\n
                        {% csrf_token %} 
                        \nThank you for your donation! See your donation history <a href="{% url 'pedulee:clothes_history' %}" class="alert-link">here</a>\n
                        </div>`
        document.getElementById("success").innerHTML = htmlString
        setInterval(exitSuccess, 3500)
    }

    async function exitSuccess() {
        document.getElementById("success").innerHTML = ""
        htmlString = ``
        document.getElementById("success").innerHTML = htmlString
    }

    async function submitCloth() {
        fetch("{% url 'pedulee:create_cloth' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(successAfterSubmit)
        return false
    }

    document.getElementById("button-submit").onclick = submitCloth
    welcome()
</script>
{% endblock scripts %}