{% load static %}

<div data-bs-spy="scroll" data-bs-target="#navbarSupportedContent" data-bs-offset="0" class="scrollspy-example" tabindex="0">

    <footer class="text-center text-lg-start p-1" style="font-size: 14px;" id="about-us">
      <hr>  
      <!-- Grid container -->
        <div class="container p-2">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <img src='{% static "/images/logo.png" %}' style="height: 4rem; margin-bottom: 4%;">
              <p style="padding-left: 2%;">
                Proyek Tengah Semester <br>
                PBP B-10
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase pb-1 fw-bold">CONTRIBUTORS</h5>
                <div class="contributors">
                  <p style="margin-bottom: 2px;"> Alvin Widi Nugroho </p>
                  <p style="margin-bottom: 2px;"> Daffa Muhammad Faizan </p>
                  <p style="margin-bottom: 2px;"> Ghayda Rafa Hernawan </p>
                  <p style="margin-bottom: 2px;"> Marietha Asnat Nauli Sitompul </p>
                  <p style="margin-bottom: 6px;"> Rakhan Yusuf Rivesa </p>
                </div>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase pb-1 fw-bold">CREDITS</h5>
      
              <div class="credits">
                <p style="margin-bottom: 2px;">
                    <a style="text-decoration: none;" href="https://www.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_9728603.htm">Background Image by denamorado</a> on Freepik
                </p>
                <p style="margin-bottom: 2px;">
                    <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/flat-clothing-donation-concept_12062423.htm">Clothes Donation Image by pikisuperstar</a> on Freepik
                </p>
                <p style="margin-bottom: 2px;">
                    <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/set-blood-types-cartoon-character-different-poses_15029969.htm#query=blood%20donor&position=2&from_view=search&track=sph">Blood Cartoon Image by lek_suwarin</a> on Freepik
                </p>
                <p style="margin-bottom: 2px;">
                    <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/young-volunteering-enthusiasts-composition_4327424.htm#query=volunteer%20badge&position=0&from_view=keyword">Volunteer Image by macrovector</a> on Freepik
                </p>
                <p style="margin-bottom: 2px;">
                  <a style="text-decoration: none;" href="https://www.freepik.com/free-photo/group-kids-friend-laughing-together_2523588.htm#query=group%20kids&position=3&from_view=keyword">Group Kids Image by jcomp</a> on Freepik
                </p>
            </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
          2022,
          <a class="company text-black" style="text-decoration: none;" href="/">PEDULEE<sup>TM</sup></a>
        </div>
        <!-- Copyright -->
      </footer>
</div>