{% extends 'base.html' %}

{% load static %}
{% load templates %}

{% block meta %}
    <title>Profile</title>
{% endblock meta %}

{% block styles %}
    <style>
        .card {
            will-change: transform;
            transition: transform 450ms;
            height: 100%;
        }
        .card:hover {
            transition: transform 150ms;
            transform: translateY(-10px);
            shadow: 5px 5px;
        }
        .row {
            --bs-gutter-x: 0;
        }
        .div-wrapper {
            position: relative;
        }
        .div-wrapper img {
            position: absolute;
            bottom: 0;
        }
        p {
            font-size: 18px;
        }
        .container-sm {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

{% endblock styles %}

{% block content %}
    {% include 'navbar.html' %}
        {% for data in profile %}
            <div class="container-sm" style="background: #EEF1FF; margin-top: 2%; border-radius: 5px;">
                <div class="row">
                    <div class="col-6 mt-1">
                        <p class="username" style="text-align: left;">Username: {{ user }} </p>
                        <p class="fullname" style="text-align: left;">Fullname : {{ fullname }} </p>
                        <p class="birthdate" style="text-align: left;">Birthdate : {{ data.birthdate }}</p>
                    </div>
                    <div class="col-3 div-wrapper">
                        <img src='{% static "/images/Usergirl.png" %}' width="30%" style="margin-top: 2%;"/>
                    </div>
                    <div class="col-3 div-wrapper">
                        <img src='{% static "/images/Userboy.png" %}' width="35%" style="margin-top: 2%;"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="container-sm" style="background: #EEF1FF; padding: 2%; margin-top: 3%; border-radius: 5px; width: 60%;">
                        <p class="address" style="font-weight: bold;"> Address </p>
                        <p class="address-data"> {{ data.address }} </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container-sm" style="background: #EEF1FF; padding: 2%; margin-top: 3%; border-radius: 5px; width: 60%;">
                            <p class="address" style="font-weight: bold;"> Phone Number </p>
                            <p class="address-data"> {{ data.phone }} </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container-sm" style="background: #EEF1FF; padding: 2%; margin-top: 3%; border-radius: 5px; width: 60%;">
                            <p class="address" style="font-weight: bold;"> Email </p>
                            <p class="address-data"> {{ email }} </p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    {% include 'footer.html' %}
{% endblock content %}