{% extends 'base.html' %}

{% load static %}

{% block meta %}
  <title>Form</title>
{% endblock meta %}

{% block content %}
    {% include 'includes\navbar.html' %}
    <main class="container py-3">
      <form>
        <h2 class="text-center bg-secondary py-2">Tambah Project</h2>
        <div class="mb-3 row">
          <label for="nameInput" class="col-sm-2 col-form-label">Nama Projek*</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nameInput" placeholder="Name" required/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Donation ammount*</label>
          <div class="col-sm-10 d-flex flex-column gap-1">
            <input type="number" class="form-control" placeholder="Rp. " />
            <textarea name="donor_message" class="form-control" placeholder="Donor message" cols="30" rows="5"></textarea>
          </div>
        </div>
        <div class="mb-1 row">
          <label for="paymentInput" class="col-sm-2 col-form-label">Payment method*</label>
          <div class="col-sm-10">
            <select name="payment" class="form-control" id="paymentInput" required>
              <option value="">Select..</option>
            </select>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="forgetMeCheckbox" />
              <label class="form-check-label" for="forgetMeCheckbox">Anonymize me</label>
            </div>
          </div>
        </div>
        <h2 class="text-center bg-secondary py-2">Donation details</h2>
        <div class="mb-3 row">
          <label for="creditInput" class="col-sm-2 col-form-label">Credit Card*</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control" id="creditInput" placeholder="Credit Number" required/>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </div>
      </form>
    </main>
{% endblock content %}
