<!--MASIH MAU DI EDIT-->

{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Projects</title>
{% endblock meta %}

{% block content %}
    {% include 'includes\navbar.html' %}
    <main class="container py-3">
        <section class="d-flex align-items-center justify-content-between">
            <h1>On-going project</h1>
            <button class="btn btn-primary btn-sm rounded">
                + New Project
            </button>
        </section>
        <section class="row gap">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/background.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nama Projek</h5>
                        <p class="card-text">Deskripsi project lorem ipsim idanui...</p>
                        <a href="#" class="btn btn-primary text-center">Go somewhere</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}